@{
    ViewBag.Title = "我要買房";
    ViewBag.BodyClass = "Sell List";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@section css {
    <link rel="stylesheet" href="/Content/css/vendor/themify-icons.css">
}
@section Scripts {
    <script src="~/Scripts/build/app/vendors.js"></script>
    <script src="~/Scripts/build/app/w_sell_list.js"></script>
}
<h1 class="h2 title">@ViewBag.Title</h1>
<div id="content"></div>