@{
	ViewBag.Title = "我要買房";
    ViewBag.BodyClass = "Sell Content";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h1 class="sr-only">@ViewBag.Title</h1>

<div id="content">

	<div class="wrap">

		<h2 class="h2 title">北大稀有輕豪宅</h2>
		<ol class="breadcrumb">
			<li><a href="~/Index">HOME</a></li>
			<li><a href="~/Sell/List">我要買房</a></li>
		</ol>
	
		<dl class="grid-pro row">
			<dt class="thumb">
				<i class="img-thumbnail">
					<img src="~/Content/images/Sell/pro1.jpg" alt="">
				</i>
				<a href="#gallery" class="btn btn-secondary btn-sm scroll">看更多實景照片</a>
			</dt>
			<dd class="profile">
				<article>
					<h3 class="h4">
						<span class="label label-sell">售</span>
						新北市樹林區中華路
						<small class="text-primary m-l-1">物件編號：0001234</small>
					</h3>
					<ul class="detail list-unstyled">
						<li><strong class="text-secondary">總價：</strong><strong class="price text-danger">1,198</strong>萬</li>
						<li><strong class="text-secondary">建物登記：</strong>49.27 坪</li>
						<li><strong class="text-secondary">每坪單價：</strong>24.3 萬</li>
						<li><strong class="text-secondary">類型：</strong>大樓、成屋</li>
						<li><strong class="text-secondary">社區名稱：</strong>XXX</li>
						<li><strong class="text-secondary">格局：</strong>3房 / 2廳 / 2衛 / 0室</li>
						<li>
							<div class="row">
								<div class="grid">
									<strong class="text-secondary">主建物：</strong>25.03 坪
								</div>
								<div class="grid">
									<strong class="text-secondary">土地登記：</strong>4.50 坪
								</div>
							</div>
						</li>
						<li>
							<div class="row">
								<div class="grid">
									<strong class="text-secondary">屋齡：</strong>18.3年
								</div>
								<div class="grid">
									<strong class="text-secondary">車位：</strong>坡道平面
								</div>
							</div>
						</li>
						<li>
							<div class="row">
								<div class="grid">
									<strong class="text-secondary">電梯：</strong>有
								</div>
								<div class="grid">
									<strong class="text-secondary">樓層/樓高：</strong>14/16樓
								</div>
							</div>
						</li>
						<li>
							<p>高樓景觀屋況佳、格局方正採光佳、市場學區交通便利、優質社區平面車位</p>
						</li>
					</ul>
					<ul class="more-info list-unstyled clearfix">
						<li class="tel">
							<h5 class="h5 m-b-0">來電預約賞屋</h5>
							<strong>02-8765-4321</strong>
						</li>
						<li>
							<a href="#interior" class="btn btn-lg btn-secondary style2 scroll">格局圖</a>
						</li>
						<li>
							<a href="#location" class="btn btn-lg btn-secondary style2 scroll">地圖</a>
						</li>
						<li>
							<a href="#facility" class="btn btn-lg btn-secondary style2 scroll">生活機能</a>
						</li>
					</ul>
				</article>
			</dd>
		</dl>

		<section class="grid-info">
			<h3 class="h3">基本資料</h3>
			<table class="table table-striped">
				<tr>
					<th scope="row">地址</th>
					<td colspan="3">新北市樹林區中華路</td>
				</tr>
				<tr>
					<th scope="row">總價</th>
					<td colspan="3">1,198 萬</td>
				</tr>
				<tr>
					<th scope="row">格局</th>
					<td colspan="3">3房/ 2廳/ 2衛/ 0室</td>
				</tr>
				<tr>
					<th scope="row">建物登記</th>
					<td colspan="3">49.27 坪</td>
				</tr>
				<tr>
					<th scope="row">土地登記</th>
					<td colspan="3">
						4.50 坪<br>
						主建物 25.03坪　陽台 4.08坪　雨遮 0.34坪　公共設施 19.81坪
					</td>
				</tr>
				<tr>
					<th scope="row">屋齡</th>
					<td colspan="3">21.3 年</td>
				</tr>
				<tr>
					<th scope="row">該層戶數</th>
					<td style="width: 30%;">該層4戶；共用2部電梯</td>
					<th style="width: 15%;" scope="row">出售樓層/總樓層</th>
					<td>14/16樓</td>
				</tr>
				<tr>
					<th scope="row">類型</th>
					<td>大樓、成屋</td>
					<th scope="row">朝向</th>
					<td>大樓：西北</td>
				</tr>
				<tr>
					<th scope="row">月管理費</th>
					<td>1,607 元</td>
					<th scope="row">警衛管理</th>
					<td>有，全天候</td>
				</tr>
				<tr>
					<th scope="row">建物結構</th>
					<td>鋼筋混凝土</td>
					<th scope="row">特殊格局</th>
					<td>邊間</td>
				</tr>
				<tr>
					<th scope="row">車位</th>
					<td>坡道平面</td>
					<th scope="row">外牆建材</th>
					<td>方塊磚</td>
				</tr>
			</table>
		</section>

		<section id="gallery" class="grid-info">
			<h3 class="h3">物件實景照片</h3>
			<ol class="gallery row">
				<li><a href="" class="img-thumbnail"><img src="~/Content/images/Sell/pro1.jpg" alt=""></a></li>
				<li><a href="" class="img-thumbnail"><img src="~/Content/images/Sell/pro1.jpg" alt=""></a></li>
				<li><a href="" class="img-thumbnail"><img src="~/Content/images/Sell/pro1.jpg" alt=""></a></li>
				<li><a href="" class="img-thumbnail"><img src="~/Content/images/Sell/pro1.jpg" alt=""></a></li>
				<li><a href="" class="img-thumbnail"><img src="~/Content/images/Sell/pro1.jpg" alt=""></a></li>
				<li><a href="" class="img-thumbnail"><img src="~/Content/images/Sell/pro1.jpg" alt=""></a></li>
			</ol>
		</section>

		<section id="interior" class="grid-info">
			<h3 class="h3">格局圖</h3>
			<p class="text-xs-center">
				<img src="~/Content/images/Sell/interior.jpg" alt="" class="img-thumbnail">
			</p>
		</section>

		<section id="facility" class="grid-info">
			<h3 class="h3">生活機能</h3>
			<ul class="list-unstyled">
				<li><strong class="text-secondary">學校：</strong>鄰近大同國小、樹林國中。</li>
				<li><strong class="text-secondary">市場：</strong>鄰近彭厝市場</li>
				<li><strong class="text-secondary">公園：</strong>鎮前親子公園</li>
				<li><strong class="text-secondary">交通：</strong>捷運萬大線(預定)彭福站步行 6 分鐘</li>
			</ul>
		</section>

		<section id="location" class="grid-info">
			<h3 class="h3">地圖</h3>
			<iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3617.572889805967!2d121.37944231500457!3d24.94661608401328!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34681c740c32b2af%3A0x2ba1a4efce64b775!2zMjM45paw5YyX5biC5qi55p6X5Y2A5a245oiQ6LevNjU16Jmf!5e0!3m2!1szh-TW!2stw!4v1458115457215" frameborder="0" allowfullscreen></iframe>
		</section>

	</div>

</div>