@charset "UTF-8";


//
// Background
//
.bg {background: #F5F5F5 url(#{$img-path}/bg.jpg) repeat-x left bottom;}
.bg2 { background: #767D80 url(#{$img-path}/bg2.jpg) repeat-y center top; }


//
// Animation
//
.push {left: 250px;}
.pull {left: 0;}


//
// Grid
//

@each $breakpoint in map-keys($grid-breakpoints) {

  @include media-breakpoint-up($breakpoint) {
    .gutter-#{$breakpoint}-up {margin-top: $spacer/2; margin-bottom: $spacer/2;}
  }
  @include media-breakpoint-down($breakpoint) {
    .gutter-#{$breakpoint}-down {margin-top: $spacer/2; margin-bottom: $spacer/2;}
  }

}


// Size
@each $prop, $abbrev in (width: w, height: h) {
  @each $size, $lengths in $spacers {
    $length-x:   map-get($lengths, x);
    $length-y:   map-get($lengths, y);

    .#{$abbrev}-x-#{$size} { #{$prop}: $length-x !important; }
    .#{$abbrev}-y-#{$size} { #{$prop}: $length-y !important; }
  }
}


//
// Text
//

// Alignment

.text-middle { vertical-align:middle !important; }



//
// Screenreaders
//

.sr-only { @extend %sr-only; }