@charset "UTF-8";
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

progress {
  vertical-align: baseline; }

template,
[hidden] {
  display: none; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

a:active,
a:hover {
  outline-width: 0; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b,
strong {
  font-weight: inherit; }

b,
strong {
  font-weight: bolder; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

button,
input,
select,
textarea {
  font: inherit;
  margin: 0; }

optgroup {
  font-weight: bold; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
/*      basic elements
-----------------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6, p, figure, form, blockquote {
  margin: 0; }

ul, ol, li, dl, dt, dd {
  margin: 0;
  padding: 0; }

button {
  outline: none;
  border: none; }

html {
  box-sizing: border-box;
  font-size: 16px;
  -webkit-tap-highlight-color: transparent; }

*,
*::before,
*::after {
  box-sizing: inherit; }

@-moz-viewport {
  width: device-width; }
@-ms-viewport {
  width: device-width; }
@-o-viewport {
  width: device-width; }
@-webkit-viewport {
  width: device-width; }
@viewport {
  width: device-width; }
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, "Heiti TC", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", sans-serif;
  line-height: 1.25;
  color: #4C4C4C;
  background: #DBDCDC url(../images/bg.gif) repeat-x 0 103px; }

a {
  color: #4C4C4C;
  text-decoration: none;
  blur: expression(this.onFocus=this.blur());
  -webkit-transition: color .35s, background .3s;
  transition: color .35s, background .3s; }
  a:hover, a:active, a.active {
    color: #2F2F93; }
  a:focus {
    outline: none; }

img {
  vertical-align: middle; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Microsoft Jhenghei", \5FAE\8EDF\6B63\9ED1\9AD4, Verdana, Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.1;
  color: #3e6371;
  margin-bottom: 0.625em; }
  h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-weight: normal; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 3.4375em; }

h3 {
  font-size: 1.5em; }

h4 {
  font-size: 1.125em; }

h5 {
  font-size: 1em; }

h6 {
  font-size: 0.875em; }

p {
  margin: 0 0 0.625em;
  line-height: 1.5; }

strong {
  font-size: 1.0625em;
  color: #2F2F93; }

mark {
  background-color: #ffcc99;
  padding: .2em; }

hr {
  height: 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #f9f9f9; }

.wrap::after, #header::after, #footer::after, #main::after, .clearfix::after {
  display: table;
  clear: both; }
  .wrap::after, #header::after, #footer::after, #main::after, .clearfix::after, #footer::before, .foot-nav a::before, #wrapper::before, .list-dot li::before, .list-number li::before, .list-circle::before, [data-dropdown="btn"]::after {
    content: ''; }

.copyright .fa-youtube, .circle, .list-dot li::before, .list-number li::before, .list-circle em {
  border-radius: 50%; }

.full {
  width: 100%;
  max-width: 100%; }

.half {
  width: 49.5%; }

.logo, .goTop {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.list-inline, .list-unstyled, .list-dot, .list-number, .list-circle, .swiper-wrapper {
  list-style: none; }

.list-inline > li {
  display: inline-block; }

figcaption, .goTop {
  -webkit-transition: all 0.35s;
  transition: all 0.35s; }

/*      layout
-----------------------------------------------------------------------*/
.wrap, #header {
  max-width: 1400px;
  margin: 0 50px; }
  @media (min-width: 87.5em) {
    .wrap, #header {
      margin: 0 auto; } }

@media (max-width: 48em) {
  .wrap, #header, #footer, #main {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0; } }

html, body {
  text-align: center;
  height: 100%; }

#header, #footer, #main {
  position: relative; }

#wrapper {
  min-height: 100%;
  padding-bottom: 213px; }
  @media (max-width: 30em) {
    #wrapper {
      padding-bottom: 0;
      min-height: auto; } }

#header {
  height: 103px;
  z-index: 4; }

#footer {
  background: #33525D;
  color: #A9A7AC;
  min-height: 213px;
  margin-top: -213px;
  z-index: 1; }
  @media (max-width: 30em) {
    #footer {
      margin-top: 0; } }

.logo {
  cursor: pointer;
  cursor: hand;
  z-index: 10;
  background: url(../images/logo.gif) 0 0 no-repeat;
  width: 335px;
  height: 56px;
  margin-top: 23.5px;
  float: left; }

#menu {
  height: 103px;
  z-index: 20;
  width: 50%;
  margin-left: 90px;
  float: left; }
  #menu a {
    display: block;
    float: left;
    width: 33.33333%;
    height: 100%;
    border-left: 1px solid #E5E5E5;
    color: #191919;
    font-size: 1.1875em;
    font-weight: 300;
    line-height: 103px; }
    #menu a:hover, #menu a:active, .AboutUs #menu a:nth-of-type(1), .Products #menu a:nth-of-type(2), .ContactUs #menu a:nth-of-type(3) {
      background: #6B9BBB;
      color: #fff;
      text-shadow: 1px 1px 2px #3c6784; }

.lang-nav {
  z-index: 21;
  position: absolute;
  right: 10%; }
  .lang-nav a {
    font-size: 0.9375em;
    color: #b0b7b7 r;
    padding: 8px 0; }
    .lang-nav a:hover {
      color: #b0b7b7; }

.menu-trigger {
  display: none; }

#footer {
  text-align: left;
  padding-bottom: 15px; }
  #footer::before, #footer::after {
    display: block;
    position: absolute;
    bottom: 0;
    height: 100%;
    z-index: -1; }
  #footer::after {
    background: #33525D;
    width: 58%;
    left: 0; }
  #footer::before {
    background: #A9A7AC;
    width: 42%;
    right: 0; }

.foot-nav {
  padding-top: 30px;
  padding-right: 30px; }
  .foot-nav dt {
    color: #A9A7AC;
    font-size: 1.5em;
    margin-bottom: 20px; }
  .foot-nav dd {
    margin-bottom: 25px; }
  .foot-nav a {
    color: #fff;
    font-size: 1.125em;
    position: relative;
    padding-left: 15px; }
    .foot-nav a::before {
      display: block;
      width: 5px;
      height: 5px;
      background: #A9A7AC;
      position: absolute;
      top: 43%; }
    .foot-nav a:hover, .foot-nav a:active {
      color: #DD6D16; }
  .foot-nav dl:last-child dd {
    display: inline-block;
    margin-right: -4px;
    width: 33.33333%; }

.foot-contact {
  padding-top: 15px;
  padding-left: 30px;
  color: #040404;
  font-size: 0.875em; }
  .foot-contact li {
    margin-bottom: 2.7%; }
    .foot-contact li:first-child, .foot-contact li:nth-child(2), .foot-contact li:nth-child(3) {
      font-size: 1.64286em; }
    .foot-contact li:first-child, .foot-contact li:nth-child(2) {
      font-weight: 500;
      color: #33525D;
      letter-spacing: 1px;
      margin-right: 15px;
      margin-bottom: 4%; }
  .foot-contact i {
    margin-right: 10px;
    color: #DBDCDC;
    vertical-align: top; }
  .foot-contact a {
    color: #040404; }
    .foot-contact a:hover, .foot-contact a:active {
      color: #33525D;
      text-decoration: underline; }

.copyright {
  font-size: 0.875em;
  color: #33525D;
  margin-top: 30px; }
  .copyright .hover-underline {
    color: #33525D; }
  .copyright .fa-youtube {
    display: inline-block;
    vertical-align: middle;
    width: 42px;
    height: 42px;
    text-align: center;
    line-height: 42px; }
    .copyright .fa-youtube::before {
      color: #33525D;
      font-size: 1.6875em; }
    .copyright .fa-youtube:hover, .copyright .fa-youtube:active {
      background-color: #33525D; }
      .copyright .fa-youtube:hover::before, .copyright .fa-youtube:active::before {
        color: #33525D; }
  @media (max-width: 48em) {
    .copyright {
      left: 15px;
      bottom: -30px;
      text-align: center; } }

#wrapper::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 103px;
  background: #fff;
  z-index: -1; }

.float-l {
  float: left; }

.float-r {
  float: right; }

img.float-l {
  margin-right: 15px; }

.clear {
  clear: both; }

.hidden {
  display: none; }

.text-left, .list-circle {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center, #menu a, .list-number li::before {
  text-align: center; }

.text-line {
  border-bottom: 1px solid #33525D;
  padding-bottom: 15px; }

.list-dot li, .list-number li {
  position: relative;
  padding-left: 15px;
  line-height: 1.75;
  margin-bottom: 7.5px; }
  .list-dot li::before, .list-number li::before {
    display: block;
    width: 5px;
    height: 5px;
    background-color: #33525D;
    position: absolute;
    left: 0; }

.list-dot li::before {
  top: 7.5px; }

.list-circle {
  position: relative; }
  .list-circle::before {
    display: block;
    background: #f8f9f9;
    width: 3px;
    height: 90%;
    z-index: -1;
    position: absolute;
    top: 22px;
    left: 30px; }
  .list-circle.col-6:nth-child(2)::before {
    left: 43px; }
  .list-circle li {
    clear: both;
    padding-top: 30px; }
  .list-circle em {
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    background-color: #f8f9f9;
    display: block;
    float: left;
    border: 1px solid #F3F4F4;
    color: #2F2F93;
    font-style: normal;
    margin-top: -20px; }
  .list-circle p {
    margin-left: 70px;
    vertical-align: middle; }
  .list-circle span {
    margin-right: 8px;
    color: #bec3c3; }

.list-number li {
  padding-left: 31px; }
  .list-number li::before {
    line-height: 21px;
    width: 21px;
    height: 21px;
    top: 0;
    font-size: 0.8125em;
    color: #fff; }
  .list-number li:nth-child(1)::before {
    content: "1"; }
  .list-number li:nth-child(2)::before {
    content: "2"; }
  .list-number li:nth-child(3)::before {
    content: "3"; }
  .list-number li:nth-child(4)::before {
    content: "4"; }
  .list-number li:nth-child(5)::before {
    content: "5"; }
  .list-number li:nth-child(6)::before {
    content: "6"; }
  .list-number li:nth-child(7)::before {
    content: "7"; }
  .list-number li:nth-child(8)::before {
    content: "8"; }
  .list-number li:nth-child(9)::before {
    content: "9"; }
  .list-number li:nth-child(10)::before {
    content: "10"; }
  .list-number li:nth-child(11)::before {
    content: "11"; }
  .list-number li:nth-child(12)::before {
    content: "12"; }
  .list-number li:nth-child(13)::before {
    content: "13"; }
  .list-number li:nth-child(14)::before {
    content: "14"; }
  .list-number li:nth-child(15)::before {
    content: "15"; }

.swiper-slide {
  text-align: center;
  overflow: hidden; }

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border: 1px solid #fff; }
  .swiper-pagination-bullet-active {
    background: #fff; }

.swiper-button-prev,
.swiper-button-next {
  width: 15px;
  height: 30px;
  margin-top: -18px;
  -webkit-background-size: 15px 30px;
  background-size: 15px 30px; }
  .swiper-button-prev .swiper.swiper-button-disabled,
  .swiper-button-prev .swiper.swiper-button-disabled,
  .swiper-button-next .swiper.swiper-button-disabled,
  .swiper-button-next .swiper.swiper-button-disabled {
    opacity: 0; }

.swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23eaeaea'%2F%3E%3C%2Fsvg%3E");
  left: 0; }

.swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23eaeaea'%2F%3E%3C%2Fsvg%3E");
  right: 0; }

figcaption, figure > a {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

figcaption {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }
  figcaption::before, figcaption::after {
    pointer-events: none; }

figure {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  background: #fff;
  border: 1px solid #DCDDDD; }
  figure img {
    position: relative;
    max-width: 100%;
    max-height: 200px; }
  figure > a {
    z-index: 19;
    white-space: nowrap;
    opacity: 0; }
  @media (max-width: 61.1875em) {
    figure {
      float: none;
      display: inline-block; } }
  @media (max-width: 48em) {
    figure {
      width: 48%;
      max-width: none;
      margin: 3px;
      margin-bottom: 15px; } }
  @media (max-width: 30em) {
    figure {
      width: 100%; } }
  figure h4, figure p {
    margin: 0; }
  figure h4 {
    color: #000;
    font-size: 1.3125em; }
  figure p {
    color: #fff;
    font-size: 1.1875em;
    position: absolute;
    bottom: 0;
    left: 0; }

.goTop {
  display: none;
  z-index: 99;
  opacity: .65;
  position: fixed;
  right: 10px;
  bottom: 30px;
  background: url(../images/goTop.png) 0 0 no-repeat;
  width: 42px;
  height: 42px; }
  .goTop:hover, .goTop:active {
    opacity: 1; }

.dropdown {
  z-index: 9;
  width: 130px;
  position: absolute;
  top: 12px;
  right: 0; }
  @media (max-width: 39.9375em) {
    .dropdown {
      width: 28%; } }
  @media (max-width: 29.9375em) {
    .dropdown {
      left: 0;
      top: 5px;
      width: 35%; } }

[data-dropdown="btn"] {
  cursor: pointer;
  transition: all .5s ease;
  background: none;
  border: 1px solid #cbcfcf;
  color: #b0b7b7;
  font-size: 0.75em;
  text-align: left;
  padding: 5px 10px;
  width: 100%; }
  [data-dropdown="btn"]::after {
    display: block;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-top: 6px solid #b0b7b7;
    position: absolute;
    top: 10px;
    right: 8px; }
  [data-dropdown="btn"]:hover, [data-dropdown="btn"]:active {
    background: #fff;
    border-color: #3b3bba;
    color: #3b3bba; }
    [data-dropdown="btn"]:hover::after, [data-dropdown="btn"]:active::after {
      border-top-color: #e4e4f6;
      -webkit-animation: jump 0.6s infinite 0.6s;
      animation: jump 0.6s infinite 0.6s; }

[data-dropdown="content"] {
  display: none;
  position: absolute;
  min-width: 100%;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); }
  [data-dropdown="content"] a {
    color: #687171;
    padding: 8px 0;
    display: block; }
    [data-dropdown="content"] a:hover {
      background-color: #f0f2f2; }

.search {
  width: 0;
  min-width: 50px;
  height: 50px;
  overflow: hidden;
  position: relative;
  -webkit-backface-visibility: hidden;
  z-index: 55;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
  position: absolute;
  top: 26.5px;
  right: 5%; }
  .search input {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0;
    outline: none;
    background: none;
    box-shadow: none;
    font-size: 0;
    -webkit-appearance: none;
    z-index: 10; }
  .search button, .search span {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    display: block;
    line-height: 100%;
    text-align: center;
    cursor: pointer;
    font-size: 1.375em; }
    .search button::before, .search span::before {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
  .search button {
    background: none;
    opacity: 0;
    z-index: 11; }
    .search button.enter {
      opacity: 1;
      background: #DD6D16;
      color: #fff; }
  .search span {
    color: #a3abab;
    z-index: 90;
    speak: none;
    text-transform: none;
    -webkit-font-smoothing: antialiased; }
    .search span:hover, .search span:active {
      color: #DD6D16; }
  .search-open {
    width: 280px; }
    .search-open input {
      background: #fff;
      padding: 0 50px 0 20px;
      font-size: 1em;
      color: #DD6D16; }

main {
  background: #F3F4F4;
  padding: 50px 0 80px; }

#slider {
  height: 412px; }

.product-list {
  height: 410px; }
  .product-list img {
    top: 50%;
    -ms-transform: translateY(-90%);
    -webkit-transform: translateY(-90%);
    transform: translateY(-90%);
    -webkit-transition: transform 1s;
    transition: transform 1s; }
  .product-list small {
    display: block;
    font-size: 1.0625em;
    margin-bottom: 12px;
    margin-top: 75%; }
  .product-list small, .product-list h4 {
    padding: 0 20px; }
  .product-list p {
    bottom: 0;
    background: #33525D;
    text-align: center;
    letter-spacing: 1px;
    padding: 12px 0;
    width: 100%;
    -webkit-transition: background 0.5s;
    transition: background 0.5s; }
  .product-list:hover img, .product-list:active img {
    -ms-transform: translateY(-90%) scale(1.2);
    -webkit-transform: translateY(-90%) scale(1.2);
    transform: translateY(-90%) scale(1.2); }
  .product-list:hover p, .product-list:active p {
    background: #DD6D16; }

figcaption {
  text-align: left; }

.icon-chevron-thin-left,
.icon-chevron-thin-right {
  position: absolute;
  top: 50%;
  font-size: 3.125em;
  color: #A9A7AC;
  opacity: .5;
  margin-top: -45px;
  cursor: pointer;
  z-index: 10; }
  .icon-chevron-thin-left:hover, .icon-chevron-thin-left:active,
  .icon-chevron-thin-right:hover,
  .icon-chevron-thin-right:active {
    color: #DD6D16; }
  .icon-chevron-thin-left.swiper-button-disabled,
  .icon-chevron-thin-right.swiper-button-disabled {
    opacity: 0;
    cursor: auto;
    pointer-events: none; }

.icon-chevron-thin-left {
  left: 0; }

.icon-chevron-thin-right {
  right: 0; }
