@charset "UTF-8";


// import
// ------------------------------------------------------------
@import "helper/function";
@import "helper/var";
@import "helper/mixins";

@import "base/basic";
@import "base/extend";
@import "base/classes";
@import "base/table";

@import "layout/grid";

@import "module/label";
@import "module/list";

body { padding: 10px 15px; line-height: 1.7; }
h1,h2,h3,h4,h5,h6,p,blockquote,
ul,ol,li,dl,dt,dd { text-align: left; }
h2 { margin-top: 0; margin-bottom: 20px; }
p { color: #333; line-height: 1.9; }