@charset "UTF-8";

// var 變數，需放在 @import "helper/var" 之上才能覆蓋掉
// ------------------------------------------------------------
$index:           true;
$img-path2:       '../images/index';

$font-size-h2:    55px;


// import
// ------------------------------------------------------------
@import "_client/var"; // 覆蓋掉下面的變數

@import "helper/util";
@import "helper/var";
@import "helper/mixins";

@import "base/basic";
@import "base/extend";
@import "base/layout";

@import "_client/main";


// == main
