@charset "UTF-8";

// var 變數，需放在 @import "helper/var" 之上才能覆蓋掉
// ------------------------------------------------------------
$page:               true;

$swiper-banner:      true;
$banner-height:      238px;
// $swiper-slider:      true;

$figure-width:       false;
$figure-height:      false;
$figure-inline-hack: false;
// $figure-mg:          0 .5%;
$figure-img-height:  200px;
$figure-title-size:  21px;
$figure-title-color: #000;
$figure-p-size:      19px;
$figure-p-color:     #fff;
$figure-p-pos:       bottom 0 left 0;



// import
// ------------------------------------------------------------
@import "_client/var"; // 覆蓋掉下面的變數

@import "helper/util";
@import "helper/var";
@import "helper/mixins";

@import "base/basic";
@import "base/extend";
@import "base/form";
@import "base/layout";

@import "_client/main";
@import "_client/module/breadcrumb";
