
/* import
-----------------------------------------------------*/

/* bootstrap */
@import "bs/bootstrap";

/* tools */
@import "variables";
@import "mixins";

/* base */
@import "basic";

/* layout */
@import "bs/non-responsive";
@import "layout";

/* modules */
@import "modules";
@import "scripts";


/* login
-----------------------------------------------------*/
.login {
	#container {@extend .wrap;}
	#main {
		@extend .row-centered;
		margin-top:0;
		padding-left:0;
		padding-top:$grid-gutter-width/2;
		.logo {
			text-align:center;
			font-size: px-em(28px);
			color:$gray-light;
			span {
				margin-right:10px;
				color:$brand-danger;
			}
		}
		.copyright {
			text-align: center;
			font-size: 1.3em;
			color:$brand-primary;
		}
		.login-box {
			@extend .col-xs-4;
			@extend .col-centered;
			margin-top:$line-height-computed;
			padding-left:$line-height-computed/2;
			padding-right:$line-height-computed/2;
			background: #F7F7F7;
			border:1px solid #AEB3B8;
			box-shadow:0 0 10px #ccc;
			h3 {
				margin-bottom: 15px;
				padding-bottom:10px;
				color:$brand-primary;
				font-size: 1.4em;
				border-bottom:1px solid lighten($brand-primary,40%);
				i {color:$brand-success;}
			}
			form {
				.form-group {
					.form-control-feedback {color:#999;}
					.row {
						padding-left:$grid-gutter-width/2;
						padding-right:$grid-gutter-width/2;
					}
				}
				.form-action {
					margin-top: $line-height-computed;
					margin-left: -$line-height-computed/2 !important;
					margin-right: -$line-height-computed/2 !important;
					margin-bottom: 0;
					padding:$line-height-computed/2;
					color:$gray-lighter;
					background:$brand-primary;
					border-color:darken($brand-primary,10%);
				}
			}
		}
	}
	&.custom {
		background: url(map($custom,login-bg,bg)) repeat-x map($custom,login-bg,color);
		#container {background: url(map($custom,login-bg,bg2)) no-repeat center top;}
		#main {
			margin:73px auto 0 auto;
			.logo {
				margin: 0;
				text-align: center;
				font-weight: bold;
				font-size: px-em(24px);
				color: map($custom,login-title,sub-color);

				// align for subtitle:
				// padding-top: map($custom,login-title,sub-gutter);
				span {
					@include pic-text(map($custom,login-title,img), inline-block);
					width: map($custom,login-title,width);
					height: map($custom,login-title,height);

					// make it look like center:
					margin-left:-25px;

					// float left for subtitle:
					// display:block;
					// float:left;
					// margin-top:-(map($custom,login-title,sub-gutter));
				}
			}
			.login-box {
				background: url(map($custom,login-box,bg)) no-repeat center top;
				width: map($custom,login-box,width);
				height: map($custom,login-box,height);
				margin-top: $line-height-computed/2;
				padding:0;
				border:0;
				box-shadow:none;
				h3 {
					margin:0 0 map($custom,login-box,gap) 0;
					text-indent: -9999px;
					border: 0;
				}
				form {
					width: map($custom,login-form,width);
					padding-left: map($custom,login-form,padding);
					padding-right: map($custom,login-form,padding);
					.form-group {
						label {
							text-align: map($custom,login-form,label-align);
							color: map($custom,login-form,label-color);
							font-size: px-em(map($custom,login-form,label-size));
						}
					}
					.form-action {
						margin-top:0;
						padding-top:0;
						padding-bottom:0;
						background: none;
						border: 0;
						button {
							@include pic-text(map($custom,login-form,btn-img));
							width: map($custom,login-form,btn-width);
							height: map($custom,login-form,btn-height);
							margin-left:-7px;
						}
					}
				}
			}
		}
	}
}


/* content
-----------------------------------------------------*/
.item-box {
	@extend .panel;
	@extend .panel-default;
	border-color:#ccc;
	.item-title {
		@extend .panel-heading;
		margin:0;
		background:#f7f7f7;
		border-color:#ddd;
		border-top: 1px solid #ddd;
		overflow: hidden;
		&:first-child {
			border-top: 1px solid transparent;
		}
		h5 {
			margin: 0;
			color:$brand-primary;
			padding:$panel-heading-padding;
			i {
				margin-right:5px;
				color:#d1d1d1;
				font-size: px-em(18px);
			}
		}
		.widget {
			float:right;
			margin:$panel-heading-padding/2;
			padding-left: $grid-gutter-width/2;
			border-left:1px solid #D9D9D9;
	        li {
	            display: inline-block;
	            margin:0 2px;
	            .text-default {
	              color:#888;
	              &:hover {color:#666;}
	            }
	            i[class*="fa-plus"]:before { content:"\f068"; }
	            i[class*="fa-chevron-down"]:before { content:"\f077"; }
	            .collapsed {
	            	i[class*="fa-plus"]:before { content:"\f067"; }
	            	i[class*="fa-chevron-down"]:before { content:"\f078"; }
	            }
	        }
       	}
	}
}

.item-tab {
	@extend .nav;
	@extend .nav-tabs;
	margin-top:$line-height-computed;
	font-size: px-em(16px);
}

.list-link {
	> li {
		margin-bottom:$grid-gutter-width/2;
		> a {
			display: block;
			position: relative;
			padding: $grid-gutter-width/2;
			padding-left: 45px;
			background: #f9f9f9;
			border:1px solid lighten($brand-primary,40%);
			> i {
				display: block;
				width:35px;
				height:100%;
				padding-top:$grid-gutter-width/2;
				padding-bottom:$grid-gutter-width/2;
				position: absolute;
				left:0; top:0;
				text-align: center;
				background: #f2f2f2;
				border-right:1px solid lighten($brand-primary,40%);
				transition: color 0.35s, background 0.35s;
			}
			&:hover {
				color:#fff;
				background: lighten($brand-primary,15%);
				> i {
					background: $brand-primary;
					border-right-color:#f9f9f9;;
				}
			}
		}
	}
}


/*-- 編輯器自訂版型 --*/
button.thumbnail {
	width:100%;
	margin-bottom:5px;
	.caption {
		display: block;
		margin:5px 0;
		color:#fff;
		background: $btn-success-bg;
	}
	img {margin-bottom:5px;}
	&:hover,&:focus {
		background:none;
		border-color:$thumbnail-border;
		.caption {background: darken($btn-success-bg,5%);}
	}
}
div.editor {
	padding:0 5px;
	border:2px dashed #ddd;
	/* paragraph & inline elements */
	a {
		color:#c9323c;
		transition: color 0.3s, background 0.3s;
		text-decoration:none;
		&:hover {color:#2aa5b5;}
	}

	p {
		margin-bottom:8px;
		line-height: 140%;
		&.leading {font-size:px-em(16px); line-height:150%;}
	}

	strong {
		font-weight: bold;
		&.strong2, &.strong3 {margin:0 3px; font-size:px-em(16px);}
		&.strong2 {color:#E05761;}
		&.strong3 {color:#0E9E99;}
	}

	.underline {border-bottom:1px dotted #ccc;}
	.arrow-right {
		position:relative;
		padding-right:15px;
		&:after {
			@include make-caret(right,#edae02,12px);
			content: " ";
			display: block;
			position:absolute;
			right:0; top:50%;
			margin-top:-6px;
		}
	}
	.thumb {border:4px solid #e9e9e9;}

	/* heading */
	h1, h2, h3, h4, h5, h6 {line-height: 140%; font-weight:bold;}
	h1 {
		font-size:px-em(30px); margin-bottom:20px;
		&.colored {color:#666;}
	}
	h2 {
		font-size:px-em(26px); margin-bottom:15px;
		&.colored {color:#1A78A4;}
	}
	h3 {
		font-size:px-em(22px); margin-bottom:10px;
		&.colored {color:#A62600}
	}
	h4 {
		font-size:px-em(20px); margin-bottom:10px;
		&.colored {color:#E68307}
	}
	h5 {
		font-size:px-em(18px); margin-bottom:10px;
		&.colored {color:#383838}
	}
	h6 {
		font-size:px-em(16px); margin-bottom:10px;
		&.colored {color:#603718}
	}

	/* list */
	ul,ol {
		@extend .list-unstyled;
		margin-bottom:15px;
		li {
			position: relative;
			line-height: 140%;
			> ul,ol {margin-bottom:5px;}
		}
		&.list-icon, &.list-underline, &.list-styled {overflow: auto;}
		&.list-underline {
			> li {
				margin-bottom:3px;
				padding-bottom:2px;
				border-bottom:1px dotted #ccc;
			}
		}
	}
	ul {
		li {
			left: 1em;
			margin-right: 1em; 
			list-style: disc;
		}
		&[class*="cke"], &.list-no-icon {
			li {
				list-style: none; left:0; margin-right:0;}
			}
			&.list-icon {
				li {
					list-style: none;
					&:before {
						@include make-caret(right,#edae02,10px);
						content: " ";
						display: block;
						position:absolute;
						left:-0.8em; top:5px;
					}
					> ul {
						> li {
							&:before {border-left-color:#ccc;}
						}
					}
				}
			}
		}

		ol {
			li {
				left: 2.2em;
				margin-right: 2.2em; 
				list-style: decimal;
			}
			&.list-styled {
				counter-reset: num;
				li {
					list-style: none; left:0; margin-right:0;
					margin-left: 2.2em;
					margin-bottom:3px;
					&:before {
						display: block;
						width:2em;
						counter-increment: num;
						content: counter(num) ".";
						position:absolute;
						left: -2.2em; top:0;
						text-align:right;
						color: #896F58;
						font-size: px-em(16px);
						font-weight: 100;
						font-style: italic;
					}
					> ol {
						counter-reset: num;
						li {
							margin-bottom:0;
							&:before {font-size: px-em(14px);}
						}
					}
				}
			}
		}

		/* table */
		table{
			th, td {border:1px solid;}
			&.table {
				width:100%;
				line-height: 140%;
				th, td {
					padding:5px;
					border-color: #ddd;
				}
				th {
					text-align: top;
					vertical-align: middle;
					background:#f2f2f2;
				}
			}
		}

		/* 分隔線 */
		hr {
			clear:both;
			height:1px;
			border:0;
			border-top:1px dotted #ddd;
		}
	}