@charset "UTF-8";


#footer {
    text-align: left;

    @include el(all) {
        @include absolute(bottom 0);
        height: 100%;
        z-index: -1;
    }
    &::after {
        background: $info;
        width: 58%;
        left: 0;
    }
    &::before {
        background: $footer-color;
        width: 42%;
        right: 0;
    }
}
.foot-nav {
    padding-top: $gutter*2;
    padding-right: $gutter*2;

    dt {
        color: $footer-color;
        font-size: em(24px);
        margin-bottom: 20px;
    }
    dd { margin-bottom: 25px; }
    a {
        color: #fff;
        font-size: em(18px);
        @include icon-square(left, 5px, #A9A7AC, top 43%);

        &:hover, &:active {
            color: $brand-secondary;
        }
    }
    dl:nth-of-type(2) dd {
        display: inline-block;
        margin-right: -4px;
        width: percentage(1/3);
    }
}
.foot-contact {
    padding-top: $gutter;
    padding-left: $gutter*2;
    color: darken($footer-color, 75);
    font-size: em(15px);
    li {
        margin-bottom: 10px;
    }
}

.copyright {
    font-size: em(14px);
    color: $info;

    .hover-underline {
        color: $footer-color2;
    }
    .fa-youtube {
        display: inline-block;
        vertical-align: middle;

        @include circle(42px, center);

        &::before {
            color: $footer-color2;
            font-size: em(27px);
        }
        &:hover, &:active {
            background-color: $info;
            &::before { color: $footer-bg; }
        }
    }
    @include mq-max(tablet) {
        left: 15px; bottom: -30px;
        text-align: center;
    }
}