@charset "UTF-8";

#header {
    @extend %center;
}

.logo {
    cursor: pointer; cursor: hand; // for ie
    z-index: z(logo);

    @include text-pic($logo-img, nth($logo-size,1), nth($logo-size,2));
    // position: relative;
    // top: ($header-height - nth($logo-size,2)) / 2;
    margin-top: ($header-height - nth($logo-size,2)) / 2;
    float: left;

    // @include mq-max(break(desktop, -1)) {
    //     left: 50%;
    //     margin-left: -(nth($logo-size,1) / 2);
    // }
    // @include mq-max(break(phone, -1)) {
    //     right: -10px; left: auto;
    //     margin-left: 0;
    // }
}

// == banner
// #banner {
//     @if $index {
//         &, .swiper-slide {
//             height: 343px;
//         }
//     }

//     @if $page {
//         height: 480px;
//         .swiper-slide {
//             height: 100%;
//         }
//     }
// }