@{
    ViewBag.Title = "公司簡介";
    ViewBag.BodyClass = "AboutUs";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2 class="h2 title">@ViewBag.Title</h2>

<section id="content">

    <div class="wrap">
        <div class="editor">

            @Html.Raw(ViewBag.content)

        </div>
    </div>

</section>

