@{
    ViewBag.Title = "ABOUT US";
    ViewBag.BodyClass = "AboutUs";
    ViewBag.Target = "ABOUT US";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2 class="text-left title">@ViewBag.Title</h2>

<article>
    <h3>SERVICE</h3>

    <p>ROKI Electronics Co., Ltd was founded in Oct.1999. from then on, we devote ourselves to the developments and manufactueing of precision <strong>electronic switches, Tact switches, Slide switches, Dip switches, Detector switches, Push switches, DC Jacks and Phone Jacks</strong>…etc.</p>

    <p>Our products are widely used in computer and peripheral industry, visual communication and personal electronic consumer parts such as <strong>home security system, PC, wearable electronics, digital camera, mobile phone and all of 3C products.</strong> Currently, in order to meet the market demand and customer request.</p>
</article>

<article>
    <h3>OUR ADVANTAGES</h3>
    <h5>ROKI always upholds the concept of the sustainable development.</h5>
    <p>We preserve our managing principles of “Excellent products, continue innovation, faith and honesty” to meet the needs of our domestic and foreign customers.</p>
</article>
