
@{
    ViewBag.Title = "開關類:偵測開關";
    ViewBag.BodyClass = "Products col2";
    ViewBag.Target = "偵測開關";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section breadCrumb {
    <li><a href="~/Products">產品介紹</a></li>
    <li><a href="~/Products/list">開關類</a></li>
}

@Html.Partial("sidebar")

<section class="content">
    @* 產品子分類名稱 + 此分類內的產品數量 *@
    <h2 class="title">偵測開關 <small>(15)</small></h2>

    <figure class="product-list">
        <img src="~/Content/images/Products/list.jpg">
        <a href="~/Products/content">MORE</a>
        <figcaption>
            @* 子分類名稱 *@
            <small>偵測開關Detect Switch</small>
            @* 產品型號 *@
            <h4>TU SERIES 1</h4>
        </figcaption>
    </figure>

    <figure class="product-list">
        <img src="~/Content/images/Products/list.jpg">
        <a href="~/Products/content">MORE</a>
        <figcaption>
            <small>偵測開關Detect Switch</small>
            <h4>TU SERIES 1</h4>
        </figcaption>
    </figure>

    <figure class="product-list">
        <img src="~/Content/images/Products/list.jpg">
        <a href="~/Products/content">MORE</a>
        <figcaption>
            <small>偵測開關Detect Switch</small>
            <h4>TU SERIES 1</h4>
        </figcaption>
    </figure>

    <figure class="product-list">
        <img src="~/Content/images/Products/list.jpg">
        <a href="~/Products/content">MORE</a>
        <figcaption>
            <small>偵測開關Detect Switch</small>
            <h4>TU SERIES 1</h4>
        </figcaption>
    </figure>

    <figure class="product-list">
        <img src="~/Content/images/Products/list.jpg">
        <a href="~/Products/content">MORE</a>
        <figcaption>
            <small>偵測開關Detect Switch</small>
            <h4>TU SERIES 1</h4>
        </figcaption>
    </figure>

    <figure class="product-list">
        <img src="~/Content/images/Products/list.jpg">
        <a href="~/Products/content">MORE</a>
        <figcaption>
            <small>偵測開關Detect Switch</small>
            <h4>TU SERIES 1</h4>
        </figcaption>
    </figure>

</section>