
@{
    ViewBag.Title = "SWITCH:DETECT SWITCH";
    ViewBag.BodyClass = "Products col2";
    ViewBag.Target = "DETECT SWITCH";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section breadCrumb {
    <li><a href="~/Products">PRODUCTS</a></li>
    <li><a href="~/Products/list">SWITCH</a></li>
}

@Html.Partial("sidebar")

<section class="content">
    @* 產品子分類名稱 + 此分類內的產品數量 *@
    <h2 class="title">DETECT SWITCH <small>(15)</small></h2>

    <figure class="product-list">
        <img src="~/Content/images/Products/list.jpg">
        <a href="~/Products/content">MORE</a>
        <figcaption>
            @* 子分類名稱 *@
            <small>DETECT SWITCH</small>
            @* 產品型號 *@
            <h4>TU SERIES 1</h4>
        </figcaption>
    </figure>

    <figure class="product-list">
        <img src="~/Content/images/Products/list.jpg">
        <a href="~/Products/content">MORE</a>
        <figcaption>
            <small>DETECT SWITCH</small>
            <h4>TU SERIES 1</h4>
        </figcaption>
    </figure>

    <figure class="product-list">
        <img src="~/Content/images/Products/list.jpg">
        <a href="~/Products/content">MORE</a>
        <figcaption>
            <small>DETECT SWITCH</small>
            <h4>TU SERIES 1</h4>
        </figcaption>
    </figure>

    <figure class="product-list">
        <img src="~/Content/images/Products/list.jpg">
        <a href="~/Products/content">MORE</a>
        <figcaption>
            <small>DETECT SWITCH</small>
            <h4>TU SERIES 1</h4>
        </figcaption>
    </figure>

    <figure class="product-list">
        <img src="~/Content/images/Products/list.jpg">
        <a href="~/Products/content">MORE</a>
        <figcaption>
            <small>DETECT SWITCH</small>
            <h4>TU SERIES 1</h4>
        </figcaption>
    </figure>

    <figure class="product-list">
        <img src="~/Content/images/Products/list.jpg">
        <a href="~/Products/content">MORE</a>
        <figcaption>
            <small>DETECT SWITCH</small>
            <h4>TU SERIES 1</h4>
        </figcaption>
    </figure>

</section>