
@{
    ViewBag.Title = "最新產品";
    ViewBag.BodyClass = "products";
    ViewBag.Target = "最新產品";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section breadCrumb {
    <li><a href="~/Products">產品介紹</a></li>
}

<section class="wrap">
    <article class="col-6 col-sm-12">
        <header>
            <h2>關開類 <small>(50)</small></h2>
            <a href="~/Products/list" class="btn btn-primary">ALL</a>
        </header>

        <figure class="product-list col-6 col-sm-12">
            <img src="~/Content/images/Products/list.jpg">
            <a href="~/Products/content">MORE</a>
            <figcaption>
                <small>偵測開關Detect Switch</small>
                <h4>TU SERIES 1</h4>
            </figcaption>
        </figure>

        <figure class="product-list col-6 col-sm-12">
            <img src="~/Content/images/Products/list.jpg">
            <a href="~/Products/content">MORE</a>
            <figcaption>
                <small>偵測開關Detect Switch</small>
                <h4>TU SERIES 1</h4>
            </figcaption>
        </figure>
    </article>

    <article class="col-6 col-sm-12">
        <header>
            <h2>關開類 <small>(50)</small></h2>
            <a href="~/Products/list" class="btn btn-primary">ALL</a>
        </header>

        <figure class="product-list col-6 col-sm-12">
            <img src="~/Content/images/Products/list.jpg">
            <a href="~/Products/content">MORE</a>
            <figcaption>
                <small>偵測開關Detect Switch</small>
                <h4>TU SERIES 1</h4>
            </figcaption>
        </figure>

        <figure class="product-list col-6 col-sm-12">
            <img src="~/Content/images/Products/list.jpg">
            <a href="~/Products/content">MORE</a>
            <figcaption>
                <small>偵測開關Detect Switch</small>
                <h4>TU SERIES 1</h4>
            </figcaption>
        </figure>
    </article>

    <article class="col-6 col-sm-12">
        <header>
            <h2>關開類 <small>(50)</small></h2>
            <a href="~/Products/list" class="btn btn-primary">ALL</a>
        </header>

        <figure class="product-list col-6 col-sm-12">
            <img src="~/Content/images/Products/list.jpg">
            <a href="~/Products/content">MORE</a>
            <figcaption>
                <small>偵測開關Detect Switch</small>
                <h4>TU SERIES 1</h4>
            </figcaption>
        </figure>

        <figure class="product-list col-6 col-sm-12">
            <img src="~/Content/images/Products/list.jpg">
            <a href="~/Products/content">MORE</a>
            <figcaption>
                <small>偵測開關Detect Switch</small>
                <h4>TU SERIES 1</h4>
            </figcaption>
        </figure>
    </article>

</section>