
@{
    ViewBag.Title = "產品搜尋";
    ViewBag.BodyClass = "Search";
    ViewBag.Target = "產品搜尋";
    Layout = "~/Views/Shared/Layout.cshtml";
}


<h2 class="title text-left">產品搜尋結果 [搜尋關鍵字]</h2>

<figure class="product-list">
    <img src="~/Content/images/Products/list.jpg">
    <a href="~/Products/content">MORE</a>
    <figcaption>
        <small>偵測開關Detect Switch</small>
        <h4>TU SERIES 1</h4>
    </figcaption>
</figure>

<figure class="product-list">
    <img src="~/Content/images/Products/list.jpg">
    <a href="~/Products/content">MORE</a>
    <figcaption>
        <small>偵測開關Detect Switch</small>
        <h4>TU SERIES 1</h4>
    </figcaption>
</figure>

<figure class="product-list">
    <img src="~/Content/images/Products/list.jpg">
    <a href="~/Products/content">MORE</a>
    <figcaption>
        <small>偵測開關Detect Switch</small>
        <h4>TU SERIES 1</h4>
    </figcaption>
</figure>