@model IList<DotWeb.WebApp.Controllers.ProductIntro>
@{
    ViewBag.Title = "產品搜尋";
    ViewBag.BodyClass = "Search";
    ViewBag.Target = "產品搜尋";
    Layout = "~/Views/Shared/Layout.cshtml";
}


<h2 class="title text-left">@Resources.Web.product_search_result [@ViewBag.keyword]</h2>
@foreach (var item in Model)
{
    <figure class="product-list">
        <img src="@item.src">
        <a href="~/Products/content?id=@item.product_id">MORE</a>
        <figcaption>
            <small>@item.category_l2_name</small>
            <h4>@item.modal</h4>
        </figcaption>
    </figure>
}