@{
    ViewBag.Title = "首頁";
    ViewBag.IsFirstPage = true;
    ViewBag.BodyClass = "index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@* @section css {
    <link href="~/Content/css/vendor/animate.css" rel="stylesheet">
} *@

<section class="wrap">

    <h2 class="font-sp">NEW PRODUCTS</h2>

    <figure class="quick-nav">
        <img src="~/Content/images/Products/pic.jpg">
        <a href="~/Products/content">MORE</a>
        <figcaption>
            <small>偵測開關Detect Switch</small>
            <h4>TU SERIES</h4>
            <p class="font-sp">MORO</p>
        </figcaption>
    </figure>

</section>