@{
	ViewBag.Title = "幸福房仲 VIP";
    ViewBag.BodyClass = "VIP";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2 class="h2 title">@ViewBag.Title</h2>

<section id="content">

	<div class="wrap"><div class="editor">
	
        @Html.Raw(ViewBag.content)

	</div></div>

</section>