@charset "UTF-8";

// wrapper
$wrapper-bg:            false !default;
$content-spacing:       40px !default;

// header
$header-height:         103px !default;
$header-bg:             darken($brand-gray, .5%) !default;

// footer
$footer-height:         125px !default;
$footer-bg:             $brand-gray !default;
$footer-color:          $body-color !default;



/*      layout
-----------------------------------------------------------------------*/
// 置中(有最大寬度限制,非滿版才需要)
%center {
    max-width: $max-width;
    margin: 0 $gutter+35;

    @include mq(wider) {
        margin: 0 auto;
    }
}

// RWD容器
%contain {
    @extend %clearfix;

    @include mq-max(tablet) {
        padding-left: $gutter;
        padding-right: $gutter;
        margin: 0;
    }
}

html, body { text-align: center; height: 100%; }

.wrap {
    @extend %center;
    @extend %contain;
}

#header, #footer, #main {
    @extend %contain;
}
#header, #footer, #main/*, .wrap*/ {
    position: relative;
}

#wrapper {
    @if $lte7 {
        _height: 100%;
    }
    min-height: 100%;
    padding-bottom: $footer-height + $content-spacing; // 內容與footer間距

    @if $wrapper-bg {
        background: $wrapper-bg;
    }

    @include mq-max(phone) {
        padding-bottom: 0;
        min-height: auto;
    }
}

#header {
    @if $header-bg { background: $header-bg; }
    height: $header-height;
    z-index: z(header);
}

#footer {
    @if $footer-bg { background: $footer-bg; }
    color: $footer-color;
    min-height: $footer-height;
    margin-top: -($footer-height);
    z-index: z(footer);

    @include mq-max(phone) {
        margin-top: 0;
    }
}