@{
	ViewBag.Title = "我要買房";
    ViewBag.BodyClass = "Sell";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2 class="h2 title">@ViewBag.Title</h2>

<div id="content">

	<div class="wrap">
	
		<p class="h3 text-xs-center">網站建置中，敬請期待</p>

	</div>

</div>