@{
	ViewBag.Title = "幸福社區";
    ViewBag.BodyClass = "Neighbor List";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section css {
	<link rel="stylesheet" href="/Content/css/vendor/themify-icons.css">
}
@section Scripts {
    <script src="~/Content/js/bootstrap/util.js"></script>
    <script src="~/Content/js/bootstrap/dropdown.js"></script>
    @* <script src="~/Content/js/bootstrap/collapse.js"></script> *@
    <script>
    	// Fix input element click problem
    	$('.dropdown-menu').click(function(e) {
    		e.stopPropagation();
    	});
    	// click dropdown-toggle & hide collapse area
    	// $('.dropdown-toggle').click(function(e) {
    	// 	$('#collapse-other').collapse('hide');
    	// });
    	// $('#collapse-other').on('show.bs.collapse', function () {
    	// 	$('.btn[data-toggle="collapse"]').addClass('active');
    	// });
    	// $('#collapse-other').on('hide.bs.collapse', function () {
    	// 	$('.btn[data-toggle="collapse"]').removeClass('active');
    	// });
    </script>
}

<h1 class="h2 title">@ViewBag.Title</h1>

<div id="content">

	<div class="wrap">

		<div class="filter">
			<form action="" class="form-inline">
				<div class="form-group">
					<label for="" class="sr-only">縣市</label>
					<div class="btn-group">
						<button type="button" class="btn btn-secondary style2 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">縣市<i class="ti-angle-down"></i></button>
						<div class="dropdown-menu city">
							<div class="row">
								<label for="" class="col-xs-2 form-control-label text-xs-right">北部</label>
								<div class="col-xs-10 input-inline-group">
									<label class="c-input c-radio m-b-0">
										<input type="radio">
										<span class="c-indicator"></span>
										北市
									</label>
									<label class="c-input c-radio m-b-0">
										<input type="radio">
										<span class="c-indicator"></span>
										新北
									</label>
									<label class="c-input c-radio m-b-0">
										<input type="radio">
										<span class="c-indicator"></span>
										桃園
									</label>
									<label class="c-input c-radio m-b-0">
										<input type="radio">
										<span class="c-indicator"></span>
										竹市
									</label>
									<label class="c-input c-radio m-b-0">
										<input type="radio">
										<span class="c-indicator"></span>
										竹縣
									</label>
									<label class="c-input c-radio m-b-0">
										<input type="radio">
										<span class="c-indicator"></span>
										基隆
									</label>
								</div>
							</div>
							<div class="row">
								<label for="" class="col-xs-2 form-control-label text-xs-right">中部</label>
								<div class="col-xs-10 input-inline-group">
									<label class="c-input c-radio m-b-0">
										<input type="radio">
										<span class="c-indicator"></span>
										台中
									</label>
									<label class="c-input c-radio m-b-0">
										<input type="radio">
										<span class="c-indicator"></span>
										彰化
									</label>
									<label class="c-input c-radio m-b-0">
										<input type="radio">
										<span class="c-indicator"></span>
										苗栗
									</label>
									<label class="c-input c-radio m-b-0">
										<input type="radio">
										<span class="c-indicator"></span>
										南投
									</label>
									<label class="c-input c-radio m-b-0">
										<input type="radio">
										<span class="c-indicator"></span>
										雲林
									</label>
								</div>
							</div>
							<div class="row">
								<label for="" class="col-xs-2 form-control-label text-xs-right">南部</label>
								<div class="col-xs-10 input-inline-group">
									<label class="c-input c-radio m-b-0">
										<input type="radio">
										<span class="c-indicator"></span>
										高雄
									</label>
									<label class="c-input c-radio m-b-0">
										<input type="radio">
										<span class="c-indicator"></span>
										台南
									</label>
									<label class="c-input c-radio m-b-0">
										<input type="radio">
										<span class="c-indicator"></span>
										嘉市
									</label>
									<label class="c-input c-radio m-b-0">
										<input type="radio">
										<span class="c-indicator"></span>
										嘉縣
									</label>
									<label class="c-input c-radio m-b-0">
										<input type="radio">
										<span class="c-indicator"></span>
										屏東
									</label>
								</div>
							</div>
							<div class="row">
								<label for="" class="col-xs-2 form-control-label text-xs-right">東部</label>
								<div class="col-xs-10 input-inline-group">
									<label class="c-input c-radio m-b-0">
										<input type="radio">
										<span class="c-indicator"></span>
										宜蘭
									</label>
									<label class="c-input c-radio m-b-0">
										<input type="radio">
										<span class="c-indicator"></span>
										花蓮
									</label>
									<label class="c-input c-radio m-b-0">
										<input type="radio">
										<span class="c-indicator"></span>
										台東
									</label>
								</div>
							</div>
							<div class="row">
								<label for="" class="col-xs-2 form-control-label text-xs-right">離島</label>
								<div class="col-xs-10 input-inline-group">
									<label class="c-input c-radio m-b-0">
										<input type="radio">
										<span class="c-indicator"></span>
										澎湖
									</label>
									<label class="c-input c-radio m-b-0">
										<input type="radio">
										<span class="c-indicator"></span>
										金門
									</label>
									<label class="c-input c-radio m-b-0">
										<input type="radio">
										<span class="c-indicator"></span>
										馬祖
									</label>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="" class="sr-only">行政區</label>
					<div class="btn-group">
						<button type="button" class="btn btn-secondary style2 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">行政區<i class="ti-angle-down"></i></button>
						<div class="dropdown-menu district">
							<!-- 沒選縣市就選行政區的警告: 
							 <p class="text-danger">請先選擇縣市！</p> -->
							<span>可複選：</span>
							<hr class="sm" />
							<label class="c-input c-checkbox">
								<input type="checkbox">
								<span class="c-indicator"></span>
								桃園區
							</label>
							<label class="c-input c-checkbox">
								<input type="checkbox">
								<span class="c-indicator"></span>
								桃園區
							</label>
							<label class="c-input c-checkbox">
								<input type="checkbox">
								<span class="c-indicator"></span>
								桃園區
							</label>
							<label class="c-input c-checkbox">
								<input type="checkbox">
								<span class="c-indicator"></span>
								桃園區
							</label>
							<label class="c-input c-checkbox">
								<input type="checkbox">
								<span class="c-indicator"></span>
								桃園區
							</label>
							<label class="c-input c-checkbox">
								<input type="checkbox">
								<span class="c-indicator"></span>
								桃園區
							</label>
							<label class="c-input c-checkbox">
								<input type="checkbox">
								<span class="c-indicator"></span>
								桃園區
							</label>
							<label class="c-input c-checkbox">
								<input type="checkbox">
								<span class="c-indicator"></span>
								桃園區
							</label>
						</div>
					</div>
				</div>
				@* <div class="form-group">
					<label for="" class="sr-only">類型</label>
					<div class="btn-group">
						<button type="button" class="btn btn-secondary style2 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">類型<i class="ti-angle-down"></i></button>
						<div class="dropdown-menu type">
							<span>可複選：</span>
							<hr class="sm" />
							<label class="c-input c-checkbox">
								<input type="checkbox">
								<span class="c-indicator"></span>
								公寓
							</label>
							<label class="c-input c-checkbox">
								<input type="checkbox">
								<span class="c-indicator"></span>
								電梯華廈大樓
							</label>
							<label class="c-input c-checkbox">
								<input type="checkbox">
								<span class="c-indicator"></span>
								多樓層 (樓中樓)
							</label>
							<label class="c-input c-checkbox">
								<input type="checkbox">
								<span class="c-indicator"></span>
								別墅 / 透天厝
							</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="" class="sr-only">屋齡/戶數/建物樓層/管理方式</label>
					<div class="btn-group">
						<button type="button" class="btn btn-secondary style2 dropdown-toggle" data-toggle="dropdown">屋齡、戶數、建物樓層、管理方式<i class="ti-angle-down"></i></button>
						<div class="dropdown-menu other">
							<div class="row">
								<label for="" class="col-xs-2 form-control-label text-xs-right">屋齡</label>
								<div class="col-xs-4">
									<select name="" id="" class="form-control form-control-sm center-block">
										<option value="">0~5年</option>
										<option value="">6~10年</option>
										<option value="">11~20年</option>
										<option value="">21~30年</option>
										<option value="">31~40年</option>
										<option value="">41年以上</option>
									</select>
								</div>
								<label for="" class="col-xs-2 form-control-label text-xs-right">戶數</label>
								<div class="col-xs-4">
									<select name="" id="" class="form-control form-control-sm center-block">
										<option value="">不限</option>
										<option value="">10戶以下</option>
										<option value="">50戶以下</option>
										<option value="">100戶以下</option>
										<option value="">300戶以下</option>
										<option value="">500戶以下</option>
										<option value="">1000戶以下</option>
										<option value="">1001戶以上</option>
									</select>
								</div>
							</div>
							<div class="row">
								<label for="" class="col-xs-2 form-control-label text-xs-right">建物樓層</label>
								<div class="col-xs-4">
									<select name="" id="" class="form-control form-control-sm center-block">
										<option value="">不限</option>
										<option value="">5樓以下</option>
										<option value="">10樓以下</option>
										<option value="">30樓以下</option>
										<option value="">31樓以上</option>
									</select>
								</div>
								<label for="" class="col-xs-2 form-control-label text-xs-right">管理方式</label>
								<div class="col-xs-4">
									<select name="" id="" class="form-control form-control-sm center-block">
										<option value="">不限</option>
										<option value="">警衛</option>
										<option value="">保全系統</option>
										<option value="">無管理</option>
										<option value="">其他</option>
									</select>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="" class="sr-only">特色</label>
					<div class="btn-group">
						<button type="button" class="btn btn-secondary style2 dropdown-toggle" data-toggle="dropdown">特色<i class="ti-angle-down"></i></button>
						<div class="dropdown-menu feature">
							<span>可複選：</span>
							<hr class="sm" />
							<label class="c-input c-checkbox">
								<input type="checkbox">
								<span class="c-indicator"></span>
								低公設
							</label>
							<label class="c-input c-checkbox">
								<input type="checkbox">
								<span class="c-indicator"></span>
								近捷運
							</label>
							<label class="c-input c-checkbox">
								<input type="checkbox">
								<span class="c-indicator"></span>
								近學校
							</label>
							<label class="c-input c-checkbox">
								<input type="checkbox">
								<span class="c-indicator"></span>
								近公園
							</label>
							<label class="c-input c-checkbox">
								<input type="checkbox">
								<span class="c-indicator"></span>
								近市場
							</label>
							<label class="c-input c-checkbox">
								<input type="checkbox">
								<span class="c-indicator"></span>
								無障礙空間
							</label>
						</div>
					</div>
				</div> *@
				<div class="form-group">
					<label for="" class="sr-only">關鍵字</label>
					<input type="text" class="form-control" placeholder="路/街/關鍵字">
				</div>
				<div class="form-group">
					<button class="btn btn-primary">搜　尋</button>
				</div>
			</form>
		</div>

		<p class="clearfix">
			<span class="result pull-xs-left">共有<strong class="text-danger">304</strong>間社區符合條件</span>
			<span class="pull-xs-right form-inline">
				<label for="">排序方式：</label>
				<select name="" id="" class="form-control form-control-sm">
					<option value="">預設排序</option> <!-- 以後台設定的排序為主 -->
					<option value="">更新時間新 → 舊</option> <!-- 以資料建立時間為主 -->
					<option value="">戶數少 → 多</option>
					<option value="">戶數多 → 少</option>
					<option value="">屋齡低 → 高</option>
					<option value="">屋齡高 → 低</option>
				</select>
			</span>
		</p>

		<ol class="prolist row">
			<li class="pro style2">
				<article class="card">
					<a href="~/Neighbor/Content" class="card-img-top">
						<img src="~/Content/images/Sell/pro1.jpg" alt="桃園-國王城堡">
					</a>
					<div class="card-block">
						<h4 class="card-title"><a href="~/Neighbor/Content">桃園-國王城堡</a></h4>
						<section class="card-text">
							<h5 class="card-subtitle">桃園市桃園區莊二街1393號</h5>
							<ul class="feature list-inline">
								<li>低公設</li>
								<li>近學校</li>
								<li>近公園</li>
							</ul>
							<ul class="info list-inline">
								<li><span class="text-muted">戶數</span> 107戶</li>
								<li><span class="text-muted">管理方式</span> 警衛</li>
								<li><span class="text-muted">屋齡</span> 8年</li>
							</ul>
						</section>
						<a href="~/Neighbor/Content" class="more btn btn-secondary btn-block">
							看更多
							<i class="ti-angle-right"></i>
						</a>
					</div>
				</article>
			</li>
			<li class="pro style2">
				<article class="card">
					<a href="~/Neighbor/Content" class="card-img-top">
						<img src="~/Content/images/Sell/pro1.jpg" alt="桃園-紐約大時代社區">
					</a>
					<div class="card-block">
						<h4 class="card-title"><a href="~/Neighbor/Content">桃園-紐約大時代社區</a></h4>
						<section class="card-text">
							<h5 class="card-subtitle">桃園市桃園區大興西路二段69巷128號</h5>
							<ul class="feature list-inline">
								<li>低公設</li>
								<li>近學校</li>
								<li>近公園</li>
							</ul>
							<ul class="info list-inline">
								<li><span class="text-muted">戶數</span> 436戶</li>
								<li><span class="text-muted">管理方式</span> 警衛</li>
								<li><span class="text-muted">屋齡</span> 8年</li>
							</ul>
						</section>
						<a href="~/Neighbor/Content" class="more btn btn-secondary btn-block">
							看更多
							<i class="ti-angle-right"></i>
						</a>
					</div>
				</article>
			</li>
		</ol>

	</div>

</div>