@{
	ViewBag.Title = "幸福社區";
    ViewBag.BodyClass = "Neighbor Content";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div id="content">

	<div class="wrap">

		<h1 class="h2 title">@ViewBag.Title</h1>

		<ol class="breadcrumb">
			<li><a href="~/Index">HOME</a></li>
			<li><a href="~/Neighbor/List">優質社區</a></li>
		</ol>
	
		<dl class="grid-pro row m-b-3">
			<dt class="thumb">
				<i class="img-thumbnail">
					<img src="~/Content/images/Sell/pro1.jpg" alt="">
				</i>
				<a href="#gallery" class="btn btn-secondary btn-sm scroll">看更多實景照片</a>
			</dt>
			<dd class="profile">
				<article>
					<h3 class="h4"><span class="label label-primary">大樓</span> 桃園-國王城堡</h3>
					<ul class="detail list-unstyled">
						<li><strong class="text-secondary">完工日期：</strong>2000/9</li>
						<li><strong class="text-secondary">建物地址：</strong>桃園市桃園區莊二街1393號</li>
						<li><strong class="text-secondary">建物型態：</strong>大樓</li>
						<li><strong class="text-secondary">建物樓層：</strong>地上 14 層 / 地下 2 層</li>
						<li><strong class="text-secondary">總戶數：</strong>107戶</li>
						<li><strong class="text-secondary">同層戶數：</strong>2戶</li>
						<li><strong class="text-secondary">管理方式：</strong>警衛</li>
						<li><strong class="text-secondary">建設公司：</strong>大睦長昇建設</li>
						<li><strong class="text-secondary">營造公司：</strong>大睦長昇建設</li>
					</ul>
					<a href="#" class="btn btn-block btn-warning">查詢本社區待售房屋</a>
				</article>
			</dd>
		</dl>

		<section class="grid-info">
			<h3 class="h3">社區特色</h3>
			<p>當代建築的文藝復興 貴族生活的精緻展現 高級住宅的品味、Fragonard 所設計的壯麗十八世紀庭園、加上讓人目不暇給的噴泉水瀑琉璃的裝點，讓千泉宮Tivoli成為羅馬最令人緬懷的繁華盛事。 [國王的城堡]融合古典與現代建築美學、重塑 Tivoli 的建築經典，創造精睿的驚世內涵、雕琢傳世不朽的絢麗外觀，歌德式的尖塔式屋頂造型，黃金比例的建築身段，宮廷式露天中庭，[國王的城堡]兼具五星級飯店的尊榮與私人城堡的隱密，打造人人稱羨的21世紀新貴族優質生活。</p>
		</section>

		<section id="gallery" class="grid-info">
			<h3 class="h3">公共設施</h3>
			<p>本社區管理嚴謹，迎賓廳氣派大方，有美麗小中悅豪宅之稱，環保廚房免用瓦斯，桃園唯一全社區皆用環保式電熱式廚房、衛浴設備；公設有健身房,圖書室,視聽中心,遊戲室,空中花園,撞球室</p>
			<ol class="gallery row">
				<li><a href="" class="img-thumbnail"><img src="~/Content/images/Sell/pro1.jpg" alt=""></a></li>
				<li><a href="" class="img-thumbnail"><img src="~/Content/images/Sell/pro1.jpg" alt=""></a></li>
				<li><a href="" class="img-thumbnail"><img src="~/Content/images/Sell/pro1.jpg" alt=""></a></li>
				<li><a href="" class="img-thumbnail"><img src="~/Content/images/Sell/pro1.jpg" alt=""></a></li>
				<li><a href="" class="img-thumbnail"><img src="~/Content/images/Sell/pro1.jpg" alt=""></a></li>
				<li><a href="" class="img-thumbnail"><img src="~/Content/images/Sell/pro1.jpg" alt=""></a></li>
			</ol>
		</section>

		<section id="facility" class="grid-info">
			<h3 class="h3">生活機能</h3>
			<ul class="list-unstyled">
				<li><strong class="text-secondary">交通：</strong>近未來五楊高架交流道樞紐，緊接中正路和中正北路，5分鐘上南崁交流道，交通四通八達超便利。</li>
				<li><strong class="text-secondary">生活：</strong>位於莊二街與中正路交叉口，尊爵大飯店旁，中正公園旁，樓下就有7-11，離桃園中正藝文特區5分鐘，生活機能性極佳，桃園房屋優質住宅區，交通便利，四面採光，優質生活圈，增值性極高</li>
			</ul>
		</section>

		<section id="location" class="grid-info">
			<h3 class="h3">地圖</h3>
			<iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3617.572889805967!2d121.37944231500457!3d24.94661608401328!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34681c740c32b2af%3A0x2ba1a4efce64b775!2zMjM45paw5YyX5biC5qi55p6X5Y2A5a245oiQ6LevNjU16Jmf!5e0!3m2!1szh-TW!2stw!4v1458115457215" frameborder="0" allowfullscreen></iframe>
		</section>

	</div>

</div>