@charset "UTF-8";


/*      layout
-----------------------------------------------------------------------*/
// 置中(有最大寬度限制,非滿版才需要)
%center {
    max-width: $max-width;
    margin: 0 $gutter+35;

    @include mq(wider) { margin: 0 auto; }
    @include mq-max(tablet) { margin: 0; }
}

// RWD容器
%contain {
    @extend %clearfix;

    @include mq-max(tablet) {
        padding-left: $gutter;
        padding-right: $gutter;
    }
}

html, body {
    text-align: center;
    height: 100%;
}

.wrap {
    @extend %center;
    @extend %contain;
}

#header, #footer, #main {
    @extend %contain;
}
#header, #footer, #main/*, .wrap*/ {
    position: relative;
}

#wrapper {
    @if $lte7 { _height: 100%; }
    min-height: 100%;
    padding-bottom: $footer-height + $content-spacing; // 內容與footer間距

    @if $wrapper-bg {
        background: $wrapper-bg;
    }

    // 本次專案樣式
    @include el(before) {
        // position: absolute;
        @include absolute(left 0 top 0);
        width: 100%; height: $header-height;
        background: #fff;
        z-index: -1;
    }
}


// header
// ----------------------------------------------------------------------
#header {
    @if $header-bg { background: $header-bg; }
    height: $header-height;
    z-index: z(header);

    // 本次專案樣式
    @extend %center;
    @include mq-max(phone) {
        height: $header-height - 30;
    }
}

.logo {
    cursor: pointer; cursor: hand; // for ie
    z-index: z(logo);

    @include text-pic($logo-img, nth($logo-size,1), nth($logo-size,2));
    margin-top: ($header-height - nth($logo-size,2)) / 2;
    float: left;

    @include mq-max(break(wide, -1)) {
        @include absolute(left 50%);
        @include pos-center(x);
        margin-left: -20px;
    }
    @include mq-max(phone-plus) {
        background-size: contain;
        width: 50%;
        margin-top: 5%;
    }
    @include mq-max(mobile) {
        margin-top: 7%;
    }
}


// footer 頁腳
// ----------------------------------------------------------------------
#footer {
    @if $footer-bg { background: $footer-bg; }
    color: $footer-color;
    min-height: $footer-height;
    margin-top: -($footer-height);
    z-index: z(footer);

    // 本次專案樣式
    padding-bottom: $gutter;

    @include el(before) {
        @include absolute(bottom 0);
        height: 100%;
        z-index: -1;
        background: $footer-color;
        width: 42%;
        right: 0;
    }
    // 選單底色
    // &::after {
    //     background: $footer-bg;
    //     width: 58%;
    //     left: 0;
    // }
    // 聯絡底色
    // &::before {
    //     background: $footer-color;
    //     width: 42%;
    //     right: 0;
    // }
    @include mq-max(tablet) {
        padding: 0;
        &::after, &::before { display: none; }
        .wrap { padding: 0; }
    }
}

.foot-nav {
    padding-right: $gutter*2;

    h4 {
        color: $footer-color2;
        font-size: em(24px);
        margin-bottom: $gutter;
    }
    a {
        display: block;
        margin-bottom: 25px;
        color: #fff;
        font-size: em(18px);
        @include icon-square(left, 5px, $brand-secondary, top 42% left 0);

        &:hover, &:active {
            color: $warning;
        }
        @include mq-max(tablet) {
            // float: left;
            // margin-right: 15px;
            display: inline-block;
            margin-right: -4px;
            width: percentage(1/3);
        }
        @include mq-max(mobile) {
            width: percentage(1/2);
        }
    }
    nav {
        &:last-child a {
            display: inline-block;
            margin-right: -4px;
            width: percentage(1/3);

            @include mq-max(mobile) {
                width: percentage(1/2);
            }
        }
        @include mq-max(tablet) {
            width: 100%;
            padding-left: $gutter;
            padding-right: $gutter;
            &:first-child { padding-left: $gutter; }
        }
    }
}
.foot-contact {
    padding-left: $gutter*2;
    color: #414854;
    font-size: em(14px);

    @include mq-max(tablet) {
        background: $footer-color;
        padding-bottom: $gutter;
    }

    li {
        margin-bottom: 2%;

        &:first-child,
        &:nth-child(2),
        &:nth-child(3) {
            display: inline-block;
            font-size: em(23px,14px);
        }
        &:first-child,
        &:nth-child(2) {
            font-weight: 500;
            color: $footer-color2;
            letter-spacing: 1px;
            margin-right: $gutter;
            margin-bottom: 4%;
        }
    }
    i {
        margin-right: 10px;
        color: #fff;
        vertical-align: top;
    }
    a {
        color: darken($footer-color, 65);
        &:hover, &:active {
            color: $info;
            text-decoration: underline;
        }
    }
}

.foot-nav,
.foot-contact {
    text-align: left;
    padding-top: $gutter*2;

    @include mq-max(tablet) {
        padding-top: $gutter;
        padding-left: $gutter;
        padding-right: $gutter;
    }
}

.copyright {
    font-size: em(14px);
    color: $info;
    margin-top: 30px;
}
